@model BookShelf.Models.ViewModels.AuthorEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit This Author</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Author.Id" />
            <div class="form-group">
                <label asp-for="Author.FirstName" class="control-label"></label>
                <input asp-for="Author.FirstName" class="form-control" />
                <span asp-validation-for="Author.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.LastName" class="control-label"></label>
                <input asp-for="Author.LastName" class="form-control" />
                <span asp-validation-for="Author.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Penname" class="control-label"></label>
                <input asp-for="Author.Penname" class="form-control" />
                <span asp-validation-for="Author.Penname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.PreferredGenre" class="control-label"></label>
                <input asp-for="Author.PreferredGenre" class="form-control" />
                <span asp-validation-for="Author.PreferredGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
